# ==========================
# Entornos virtuales Python
# ==========================
.venv/
rasa_env/
env/
venv/

# ==========================
# Archivos de Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# ==========================
# Archivos de Rasa
# ==========================
.rasa/

Chatbot/results/         
# resultados de test de rasa

Chatbot/logs/            
# logs generados en entrenamiento/ejecución

Chatbot/data/tools/
# herramientas externas
Chatbot/data/generated/
# datos generados automáticamente para el entrenamiento
Chatbot/data/specs/
# intents y entidades específicas

Chatbot/data/train.log
# log de entrenamiento


# ==========================
# Node / React (frontend)
# ==========================
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# ==========================
# Archivos de sistema
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Docker
# ==========================
*.log
docker-compose.override.yml

backend/logs/
